<div id="angular_gauge_{{ widget.fe_identifier }}"></div>
<script type="text/javascript">

function redraw_angular_gauge_{{ widget.id }}(){
  var placeholder = '#angular_gauge_{{ widget.fe_identifier }}';
  var parent_box = $(placeholder).parent();
  width = parent_box.width();
  d3.select(placeholder+" svg").remove();

  config = {
    'size': width,
    'label': 'Angular',
    'placeholder': placeholder,
    'min': undefined != min ? min : 0,
    'max': undefined != max ? max : 100,
    'minorTicks': 5,
    'data': Math.round(Math.random() * 100) / 100 * 100,
    'data_source': "{{ widget.get_data }}"
  };

  var range = config.max - config.min;
  config.yellowZones = [{ from: config.min + range*0.75, to: config.min + range*0.9 }];
  config.redZones = [{ from: config.min + range*0.9, to: config.max }];
  
  gauge = new angular_gauge_pointer(config);
  gauge.render();

  function loop_angular_gauge(){
    gauge.redraw(Math.random()*100);
    setTimeout(function() {
    	loop_angular_gauge();
    }, 5000);
  }
  loop_angular_gauge();
}

$(document).ready(function() {
  redraw_angular_gauge_{{ widget.id }}();
  window.addEventListener("resize", redraw_angular_gauge_{{ widget.id }});

});

</script>