{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Instance Overview" %}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Overview") %}
{% endblock page_header %}

{% block main %}

{% comment %}
{% include "horizon/common/_limit_summary.html" %}
{% if simple_tenant_usage_enabled %}
{% include "horizon/common/_usage_summary.html" %}
{% endif %}
{% endcomment %}

{{ table.render }}
{% endblock %}

{% block js %}

{{ block.super }}

<script type="text/javascript">

$(function() {

var graphite_endpoint = "{{ graphite }}";

draw_axis('usage', 2, 6);

draw_graphs("table tbody tr", graphite_endpoint);

});

</script>
{% endblock %}
